# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.tmp

# Ansible retry files
.retry

# vim swap files
*.swp

# collections
*.tar.gz
